book-store/node_modules/
book-store/node_modules

helloword-express/node_modules/
helloword-express/node_modules

schoolsystem/node_modules
schoolsystem/node_modules/

TodoApp/node_modules
TodoApp/node_modules/

TodoApp2/node_modules/
TodoApp2/node_modules